# MySQL connection for Tugas 3 (replace NIM with your own)
DB_HOST=34.172.113.167
DB_PORT=3306
DB_NAME=notes_123220093
DB_USER=admin
DB_PASSWORD=mypassword

# Set true if your cloud provider requires SSL/TLS
DB_SSL=false
